<!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org"
          xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" >
    <head lang="en">
        <meta charset="UTF-8"/>
        <title>Users | Acebook</title>
        <link rel="stylesheet" href="/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@700&display=swap" rel="stylesheet">


    </head>
    <body>
      <div class="background-users">

            <div class="header" th:replace="common/navbar::headernavfragment"></div>
            <!-- <div class="user-header">
            </div> -->
            <div class="logo-size">
                <!-- <img src="/logo3.png"> -->
                <div class="align" style="margin-bottom: 2%; height: 80px; margin-top:-2%;">
                    <p style="padding-top: 2%;" class="font">Make New Connections</p>
                </div>
            </div>

        <div class= "user-card">
            <div th:each="user: ${all_users}">
                <div class= "card">
                    <img th:src="${user.image}" style="width:100%"/>
                    <a th:href='${user.username}'><h1 class ="w3-serif username-card-name" th:text="${user.username}"></h1></a>
                    <div class="align">
                        <p th:text= "${numOfFriends}"></p>
                        <p th:text= Friends></p>
                        <p><a th:href='${user.username}'><button class="users-btn">Add Friend</button></a></p>
                    </div>
                </div>
            </div>

        </div>
      </div>

    </body>
</html>
